/* Seção do formulário login */
.imagem-logo {
  margin: 2vh;
  height: 25vh;
  width: 25vh;
}

.titulo-login {
  padding: 5vh;
  font-weight: bold;
}

.criarConta {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: #00008b;
  padding: 5vh;
}

h1 {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  font-size: 4dvh;
}

.login {
  text-decoration: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

input#email {
  border-radius: 4px;
  display: block;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

input#senha {
  border-radius: 4px;
  display: block;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

label {
  width: 50px;
  gap: 2px;
  font-size: 20px;
}

input#lembrar {
  width: 16px;
  height: 16px;
}

input {
  width: 90px;
  height: 30px;
  margin: 8px 8px;
  border-color: white;
  border-radius: 5px;
}

input.botao {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 255, 0.267);
  font-size: large;
  cursor: pointer;
  margin-left: 80px;
}
a {
  vertical-align: super;
}
