html,
body {
  background-image: url(/img/Tema\ site\ 1920\ x\ 1080.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

.cabecario {
  background-color: rgba(120, 212, 181, 0.286);
  display: flex;
  flex-direction: row-reverse;
  padding: 2vh;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.imagem-logo {
  margin: 2vh;
  height: 25vh;
  width: 25vh;
}

.titulo-login {
  padding: 5vh;
  font-weight: bold;
}

.criarConta {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: rgb(0, 0, 255);
  padding: 2vh;
}

h1 {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.login {
  text-decoration: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.rodape {
  background-color: rgba(120, 212, 181, 0.286);
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2vh;
}
input#email {
  border-radius: 4px;
  display: block;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

input#senha {
  border-radius: 4px;
  display: block;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

label {
  width: 50px;
  gap: 2px;
  font-size: 20px;
}

input#lembrar {
  width: 16px;
  height: 16px;
}

input {
  width: 90px;
  height: 30px;
  margin: 8px 8px;
}

input.botao {
  align-items: center;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 255, 0.267);
  font-size: large;
  cursor: pointer;
  margin-left: 80px;
}
