* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/Tema\ site\ 1920\ x\ 1080.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

h1 {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 200px;
}

div.login {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 350px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

footer {
  margin-top: 10%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}
input#email {
  display: flex;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

input#senha {
  display: flex;
  width: 350px;
  gap: 2px;
  font-size: 20px;
}

label {
  width: 50px;
  gap: 2px;
  font-size: 20px;
}

input#lembrar {
  width: 15px;
  height: 15px;
}

form {
  height: 400px;
}

input {
  width: 90px;
  height: 30px;
  margin: 8px 8px;
}

strong {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  align-items: stretch;
}

a {
  display: flex;
  margin: 20px;
  align-items: stretch;
  justify-content: space-around;
}
